/* / / / / / / / / / / /
/ /  ESTILOS GERAIS / /
/ / / / / / / / / / / */

* {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #191919;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #f7f8f9;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

#header {
	width: 960px;
	margin: 0 auto
}

.clearfix {
	content: "";
	clear: both;
}

a {
	color: #10bfe8; /* Cor principal */
	font-size: 1em;
}

a:hover {
	color: #0FA8CC; /* Variação mais clara */
}

a:active {
	color: #30707F; /* Variação mais escura */
}

form input, textarea, select {
	height: 45px;
	display: block;
	margin: 0 auto;
	border: 1px #d3d3d3 solid;
	color: #4c4b4b;
	font-size: 14px;
}

.container {
	background-color: white;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.container-texto {
	background-color: white;
	padding-bottom: 50px;
}

.container-texto h2 {
	padding: 38px 0 25px 0;
	font-weight: 500;
	font-size: 24px;
	color: #2a2a2a;
}

.container-texto p {
	text-rendering: optimizeLegibility;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.750em;
	text-indent: 40px;
	color: #434343;
}

.container-texto p + p {
	margin-top: .5em;
}

.container-texto li {
	text-rendering: optimizeLegibility;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.750em;
	color: #434343;
}

/* ////////////
* — Navegação —
///////////// */

#navegacao {
	background-color: white;
	width: 100%;
	height: 80px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

#logo {
  /*! width: 200px; */
  height: 43px;
  display: inline-block;
  margin-top: 19px;
  float: left;
	image-rendering: -webkit-optimize-contrast;
}

#navegacao ul {
	display: inline-block;
	float: left;
	margin-left: 40px;
}

#navegacao ul li {
	list-style-type: none;
	display: inline-block;
	padding-left: 40px;
	line-height: 80px;
}

#navegacao ul a {
	text-decoration: none;
	font-size: 14px;
	color: #a0a0a0;
}

#navegacao ul a:hover {
	color: #191919;
}

#bola-notificacao:after {
	content:attr(data-badge);
	float: right;
	background: #dd3434;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 32px 0 0 1px;
}

#separador {
  background-color: rgb(242, 242, 242);
  width: 1px;
  height: 80px;
  display: inline-block;
  float: left;
}

#nav-perfil {
	display: inline-block;
	float: right;
	cursor: pointer;
}

#avatar {
	float: left;
	margin: 28px 10px 0 25px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

#nav-perfil span {
	font-size: 14px;
	float: left;
	margin-top: 30px;
	color: #191919;
}

#seta {
	float: right;
	margin-top: 37px;
	margin-left: 12px;
}

#dropdown {
	border-radius: 0 0 3px 3px;
	margin-top: -0px;
	float: right;
	width: 158px;
	margin-right: -20px;
	background-color: white;
	height: 100px;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    margin-left: 15px;
}

.esconder {
	display: none;
}


#dropdown ul {
	margin-top: 0px;
	margin-left: 30px;
}

#dropdown ul li {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 28px;
}

#unifica-menu {
	width: 158px;
	background-color: white;
	height: 5px;
	float: right;
	margin-top: -5px;
}

/* //////////////////////////////
* — Hack para item selecionado —
///////////////////////////// */

#criar_projeto .criar_projeto, #achar_projeto .achar_projeto,
#meus_projetos .meus_projetos, #notificacoes .notificacoes, #perfil .perfil,
#conta .conta, #ver_projeto .ver_projeto, #proximos_passos .proximos_passos,
#solicitacoes .solicitacoes, #equipe .equipe {
	color: #191919;
}

/* /////////
* — Botões —
/////////// */

.btn-primario {
	cursor: pointer;
	border: 1px solid #10bfe8;
	background-color: #11bfe8;
	font-weight: 600;
	font-size: 14px;
	border-radius: 3px;
	color: white;
	-webkit-appearance: push-button;
	transition: all ease 200ms;
}

.btn-primario:hover {
	background-color: #0FA8CC;
}

.btn-primario:active {
	background-color: #30707F;
}

.btn-secundario {
	border-radius: 3px;
	border: 1px solid #10bfe8;
	background-color: white;
	padding: 5px 15px;
	color: #10bfe8;
	font-weight: 500;
	font-size: 12px;
	cursor: pointer;
}

.btn-secundario i {
	margin: 0 8px 0 2px;
	font-size: 12px;
	color: #10bfe8;
}

.btn-secundario:hover, .btn-secundario:hover i{
	color: white;
	background-color: #10bfe8;
	transition: all ease-in-out 300ms;
}

.btn-desarquivar, .btn-desarquivar i {
	border-color: #a0a0a0;
	color: #a0a0a0;
}

.btn-desarquivar:hover, .btn-desarquivar:hover i {
	background-color: #a0a0a0;
}

.aviso {
	width: 100%;
	height: 120px;
	color: white;
	margin: 0;
	padding: 0;
}

/* /////////
* — Avisos —
/////////// */

.aviso h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 12px 0;
}


.aviso.erro {
	background-color: #e8124e;
}

/* /////////
* — Título da página —
/////////// */

#titulo-pagina {
	max-width: 500px;
	margin: 0 auto;
}

#titulo-pagina h1 {
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 50px;
	text-align: center;
}

/* / / / / / / / / / / / / / / /
/ /  PÁGINA: Login/Cadastro / /
/ / / / / / / / / / / / / / */

.bg {
	padding: 100px;
	height: 100%;
	width: 100%;
	position: absolute;
	background: url(../img/bg.jpg) grey;
	background-size: cover;
	background-repeat: no-repeat;
}

.aviso-entrar {
	padding-left: 122px;
	padding-top: 10px;
}

.aviso-entrar ul li {
	font-size: 14px;
}

.aviso-entrar ul li a {
	color: #c8e2fc;
	font-size: 14px;
}

#logo-entrar {
	width: 264px;
	height: 56px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.container-cadastro {
	max-width: 440px;
	margin: 0 auto;
}

.formulario-entrar {
	width: 305px;
	padding: 30px 0;
	margin: 0 auto;
}

.formulario-entrar h1 {
	font-weight: 400;
	font-size: 24px;
	color: #4c4b4b;
}

.formulario-entrar p {
	margin-bottom: 34px;
	font-size: 12px;
	color: #b1b0b1;
}


.formulario-entrar input{
	width: 100%;
	height: 45px;
	display: block;
	margin: 0 auto;
	margin-bottom: 16px;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px #d3d3d3 solid;
	color: #4c4b4b;
	font-size: 14px;
}

#link-ajuda {
	margin-top: 28px;
	font-size: 12px;
	color: #4c4b4b;
	float: left;
}

.formulario-entrar .btn-primario {
	letter-spacing: 1px;
	padding: 0;
	width: 120px;
	height: 45px;
	margin-top: 12px;
	color: white;
	float: right;
}

/* / / / / / / / / / / / / / / / / / / / / / /
/ /  PÁGINAS: Editar perfil / Editar conta / /
/ / / / / / / / / / / / / / / / / / / / / / */

.container-editar {
	width: 820px;
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 120px;
}

#formulario-editar {
	width: 660px;
	margin: 0 auto;
	padding: 0;
}

#formulario-editar label {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 10px;
}

#formulario-editar input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
	display: inline-block;
	padding: 16px;
}

#formulario-editar .senha {
	font-size: 18px;
}

#formulario-editar #excluir-conta {
	font-size: 14px;
}

#formulario-editar textarea {
	max-width: 100%;
	height: 300px;
}

#formulario-editar .btn-primario {
	font-weight: 600;
	padding: 5px 30px;
	margin-bottom: -15px;
	float: right;
	letter-spacing: .5px;
}

#formulario-editar .inputfile {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

#formulario-editar p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #bababa;
}

.dica {
	margin: -30px 0 30px 0;
}

#formulario-editar p a {
	font-size: 13px;
	text-decoration: none;
}

#formulario-editar select {
	margin-bottom: 10px;
	padding: 12px;
	font-size: 14px;
	margin: 0;
}

/* / / / / / / / / / / /
/ /  PÁGINA: Perfil / /
/ / / / / / / / / / */

#avatar-grande {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: left;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

#nome-usuario {
	font-weight: bold;
	font-size: 46px;
	color: #454545;
	margin-left: 140px;
	line-height: 100px;
}

#btn-editar-perfil {
	float: right;
	padding: 10px 30px;
	margin: -10px 0 20px 0;
}

#btn-editar-perfil a {
	text-decoration: none;
	color: white;
	letter-spacing: .5px;
}

/* / / / / / / / / / / / / / /
/ /  PÁGINA: Achar projeto / /
/ / / / / / / / / / / / / / */

#formulario-busca {
	max-width: 600px;
	margin: 60px auto 80px auto;
}

#formulario-busca input {
	height: 52px;
}

#caixa-busca {
	width: calc(100% - 120px);
	display: inline-block;
	padding: 10px;
    border-radius: 3px 0 0 3px;    
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

#buscar {
	display: inline-block;
	padding: 0 30px;
	letter-spacing: .5px;
	margin-left: -5px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #0FA8CC;    
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.heading {
	margin-bottom: 40px;
}

.heading h2 {
	font-size: 18px;
	font-weight: 400;
	color: #494848;
}

.heading span {
	font-size: 12px;
	font-style: italic;
	color: #a49d9d;
}

.menu-paginacao {
	text-align:center;
  margin-bottom: 80px;	
}

.menu-paginacao span {
	font-size: 14px;
}

.menu-paginacao a {
	text-decoration: none;
}

.menu-paginacao ul li{
	font-size:16px;
	display:inline-block;
	padding:5px;
	padding-top:20px;
}

.menu-paginacao ul li.pagina-atual a {
	font-size:20px;
	font-weight:bold;
	color: #191919;
}

.menu-paginacao ul li span.true{
	color:#10bfe8;
}

.filtro {
	float: right;
	margin-top: -12px;
}

.filtro ul li {
	display: inline-block;
	padding-left: 30px;
}

.filtro .selecionado {
	color: #191919;
}

.filtro a:hover {
	color: #191919;
	border-bottom: 1px solid #191919;
}

.filtro ul li a {
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	color: #a0a0a0;
}

#filtro-meus-projetos {
	margin-top: -23px;
}

#resultados {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1.5em;
	margin-bottom: 60px;
}

.card {
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: auto auto minmax(20px, 30px);
	grid-template-areas: "titulo titulo"
						 "descricao descricao"
						 "tags acao";
	grid-gap: .9em;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	min-height: 210px;
	padding: 20px 20px 12px 20px;
}

#resultados .card a {
	text-decoration: none;
	color: #494848;
}

#resultados .card a#saiba-mais {
	color: #10bfe8;
	align-self: center;
}

.card #saiba-mais {
	font-size: 12px;
	text-align: right;
}

.card .card-titulo {
	font-size: 18px;
	font-weight: bold;
	grid-area: titulo;
}

.card .card-descricao {
	grid-area: descricao;
}

.card .card-descricao a {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.card #tags {
	grid-area: tags;
	align-self: center;
}

.card #tags span a {
	text-decoration: none;
	color: #b5b5b5;
	font-size: 11px;
	float: left;
}

.card #tags span:first-child a {
	padding-right: 10px;
}

#resultados .card .saiba-mais {
	color: #10bfe8;
	font-size: 12px;
}

.card #acao {
	grid-area: acao;
	text-align: right;
	align-self: center;
}

#mais-projetos {
	text-align: center;
}

#mais-projetos button {
	margin: 0 auto;
	margin-top: 50px;
	padding: 15px 35px;
}

/* / / / / / / / / / / / / / /
/ /  PÁGINA: Notificações / /
/ / / / / / / / / / / / / */

.notificacao {
	display: grid;
	grid-template-areas: "texto acao";
	border-bottom: 1px solid #f4f4f4;
	grid-template-columns: auto 92px;
}

.notificacao .texto {
	text-decoration: none;
	color: #494848;
	padding: 50px 40px;
	grid-area: texto;
}

.notificacao .texto strong {
	color: #494848;
}

.notificacao .acao {
	grid-area: acao;
	align-self: center;
}

.notificacao .acao span {
	margin-right: 40px;
	float: right;
	display: block;
	width: 15px;
	height: 15px;
	background: url(../img/excluir.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/* / / / / / / / / / / / / / /
/ /  PÁGINA: Meus Projetos / /
/ / / / / / / / / / / / / / */

#arquivado .card-titulo a, #arquivado .card-descricao a, #arquivado .card-descricao .saiba-mais {
	color: #a0a0a0;
}

/* / / / / / / / / / / / / / /
/ / /   PÁGINA: Projeto / / / 
/ / / / / / / / / / / / / */

#heading {
	margin-bottom: 20px;
}

#tipo-ajuda {
	display: inline-block;
	font-size: 12px;
	color: #bababa;
}

#nome-projeto {
	color: #504f4f;
	font-size: 46px;
	margin-top: 10px;
	font-weight: 600;
}

#paginas {
	float: left;
	margin-top: 55px;
}

#paginas ul li {
	display: inline-block;
}

#paginas ul li a {
	font-size: 16px;
	color: #a0a0a0;
	text-decoration: none;
	margin-right: 50px;
}

#heading a button, #heading input[type="submit"] {
  grid-area: botao;
}

#heading #btn-solicitar-acesso {
	margin-top: 45px;
	padding: 10px 30px;
	float: right;
}

.btn-projeto {
  font-size: 14px;
	font-weight: 500;
	background: rgba(0,0,0,0)
}

.btn-projeto.btn-secundario {
	border-color: #a0a0a0;
	color: #a0a0a0;
}

.btn-projeto.btn-secundario:hover {
	color: white;
	background: #a0a0a0;
}

.btn-editar-projeto {
	background: rgba(0,0,0,0);
	font-size: 14px;
}

/* / / / / / / / / / / / / / / / /
/ / /   PÁGINA: Solicitações / / / 
/ / / / / / / / / / / / / / / / */

.solicitacoes {
	width: 770px;
	margin: 35px auto 80px auto;
}

.solicitacoes ul {
	list-style-type: none;
}

.solicitacao {
	display: grid;
	grid-template-areas: "avatar nome acoes";
	grid-template-columns: 82px auto auto;
	padding: 42px 50px;
	border-bottom: 1px solid #f4f4f4;
}

.solicitacao a {	
	text-decoration: none;
}

.solicitacao .avatar {	
	grid-area: avatar;
	display: block;
	margin-top: 7px;
}

.solicitacao .avatar img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.solicitacao .identificacao {
	grid-area: nome;
	align-self: center;
}

.solicitacao .nome {
	font-size: 18px;
	color: #191919;
	font-weight: 400;
}

.solicitacao .tipo-ajuda {
	margin-top: -3px;
}

.solicitacao .tipo-ajuda span {
	font-size: 11px;
	color: #a0a0a0;
	margin-right: 5px;
}

.solicitacao .acoes {
	grid-area: acoes;
	align-self: center;
	justify-self: end;
}

.solicitacao .acoes a {
	font-size: 14px;
	color: #191919;
	margin-left: 40px;
}
