body {
	background: url(../img/bg.jpg) grey;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

/* LOGIN */

#logo {
	width: 264px;
	height: 56px;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

.container {
	background-color: white;
	width: 400px;
	height: 350px;
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.container-cadastro {
	height: 386px;
}

h1 {
	font-weight: 400;
	font-size: 24px;
	color: #4c4b4b;
	margin-bottom: -7px;
	padding: 35px 0 0 52px;
}

p {
	margin-left: 52px;
	font-size: 12px;
	color: #b1b0b1;
}

a {
	color: #11bfe8;
}

a:hover {
	color: #0FA8CC;
}

a:active {
	color: #30707F;
}

form {
	margin-top: 34px;

}

form input {
	width: 295px;
	height: 45px;
	display: block;
	margin: 0 auto;
	margin-bottom: 16px;
	padding-left: 25px;
	box-sizing: border-box;
	border: 1px #d3d3d3 solid;
	color: #4c4b4b;
	font-size: 14px;
}

.btn-primario {
	letter-spacing: 1px;
	cursor: pointer;
	padding: 0;
	border: 0;
	float: right;
	background-color: #11bfe8;
	font-weight: bold;
	font-size: 14px;
	color: white;
	border-radius: 3px;
	width: 120px;
	height: 45px;
	margin-top: 12px;
	margin-right: 55px;
	-webkit-appearance: push-button;
}

.btn-primario:hover {
	background-color: #0FA8CC;
}

.btn-primario:active {
	background-color: #30707F;
}

#esqueci-senha {
	display: inline-block;
	margin-top: 28px;
	margin-left: 55px;
	font-size: 12px;
	color: #4c4b4b;
}