body{
  background-color: blue;
}


#busca {
  witdh: 100%;
  margin: 5em 0;
}

#busca .form-control {
  width: 80%;
}

#busca .btn {
  width: 20%;
}

.cards img {
  height: 200px;
}

#cards-row-2 {
  margin-top: 100px;
}

.login-form {
  margin: 0 auto;
  background-color: pink;
}
